---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="post-meta">
        <span class="post-date">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y年%m月%d日" }}</time>
        </span>
        {% if post.tags.size > 0 %}
        <span class="post-tags">
          {% for tag in post.tags %}
            <a href="{{ site.baseurl }}/tags/#{{ tag | slugify }}" class="tag">#{{ tag }}</a>
          {% endfor %}
        </span>
        {% endif %}
        {% assign words = post.content | number_of_words %}
        {% if words < 360 %}
          <span class="reading-time">1 分钟阅读</span>
        {% else %}
          <span class="reading-time">{{ words | divided_by: 180 }} 分钟阅读</span>
        {% endif %}
      </div>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">阅读全文</a>
    </article>
  {% endfor %}
</div>